.wp-block-hawthorn-accordion-image-section {
	padding-top: 0 !important;
}

.wp-block-hawthorn-accordion-image-section .wp-block-image {
	margin: 0;
}

.wp-block-hawthorn-accordion-image-section .wp-block-image img {
	display: block;
	height: auto;
	width: 100%;
}
