.wp-block-hawthorn-hero {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-hawthorn-hero .hawthorn-hero__inner.block-editor-block-list__layout {
	box-sizing: border-box;
	width: 100%;
}

.wp-block-hawthorn-hero .block-list-appender {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
